*{
  /* background-color: white; */
  margin: 0;
  padding: 0;
}

.logo1{
  width: 3rem;
  position: relative;
  left: 6rem;
}
.images{
  width: 100%;
  height: 40rem;
}
.Home{
  position: relative;
  left: 44rem;
  color: #1c244b;
  font-family: 'Rubik', sans-serif;
  font-size: large;
  text-decoration: none;
}

Nav Link::after {
  content: '';
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(15, 15, 15);
}
.About{
position: relative;
left: 46rem;
color: #1c244b;
text-decoration: none;
font-family: 'Rubik', sans-serif;
font-size: large;

}
.Project{
position: relative;
left: 48rem;
color: #1c244b;
text-decoration: none;
font-family: 'Rubik', sans-serif;
font-size: large;
}
.KutanaAfrica{
position: relative;
left: 50rem;
color: #1c244b;
text-decoration: none;
font-family: 'Rubik', sans-serif;
font-size: large;
}
.Blog{
position: relative;
left: 52rem;
color: #1c244b;
text-decoration: none;
font-family: 'Rubik', sans-serif;
font-size: large;
}
.Contacts{
position: relative;
left: 54rem;
color: #1c244b;
text-decoration: none;
font-family: 'Rubik', sans-serif;
font-size: large;
}
.nav1{
  background-color: transparent;
}
.testimony{
  width: 50rem;
  padding-left: 5rem;
}
.management{
  width: 100%;
}