* {
  /* background-color: white; */
  margin: 0;
  padding: 0;
}
.logo1 {
  width: 3rem;
  position: relative;
  left: 6rem;
}
.images {
  width: 100%;
  height: 40rem;
}
.Home {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #000000;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  width: 5rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.3rem;
}

Nav Link::after {
  content: "";
  width: 50%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(15, 15, 15);
}
.About {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #1c244b;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.5rem;
}
.Project {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #1c244b;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.5rem;
}
.KutanaAfrica {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #1c244b;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  width: 9rem;
  height: 2rem;
  padding-top: 0.3rem;
  border-radius: 0.5rem;
  text-align: center;
}
.Blog {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #1c244b;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  width: 5rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.5rem;
}
.Contacts {
  position: relative;
  left: 24rem;
  top: 1rem;
  color: #1c244b;
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  width: 6rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.3rem;
  border-radius: 0.5rem;
}
.nav1 {
  background-color: transparent;
}
.testimony {
  width: 80rem;
  padding-left: 5rem;
}
.testimony1{

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.management {
  width: 100%;
}
.btn {
  padding-left: 40rem;
}
.btn1 {
  width: 30rem;
  height: 3rem;
}
.what {
  text-align: center;
  /* color: orangered; */
}
.what1 {
  font-size: 4rem;
  color: rgb(201, 115, 80);
}
.what2 {
  font-size: 1.3rem;
  color: rgb(22, 22, 22);
}
.card1 {
  border-width: 0;
}
.aws {
  width: 13rem;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}
.aws1 {
  width: 8rem;
}
.oxford {
  width: 8rem;
  height: 5rem;
  padding-top: 2rem;
}
.isc {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.black {
  width: 8rem;
  height: 5rem;
  padding-top: 1.7rem;
}
.africa {
  width: 8rem;
  height: 5rem;
  padding-top: 1.7rem;
}
.gayo {
  width: 8rem;
  height: 5rem;
  padding-top: 1.7rem;
}
.compass {
  width: 8rem;
  height: 6rem;
  padding-top: 1.2rem;
}
.grass {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.mbm {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.netwoork {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.launch {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.deutsch {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.ios {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.falling {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.innov {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.basil {
  width: 8rem;
  height: 5rem;
  padding-top: 1.5rem;
}
.card4 {
  width: 79rem;
  height: 100rem;
}
.teach {
  width: fit-content;
}
.lil {
  font-size: 3rem;
}
.cash {
  width: 8rem;
  position: relative;
  top: 4rem;
}
.with {
  position: relative;
  top: 11rem;
  right: 9rem;
  font-size: 1rem;
}
.cash-num {
  position: relative;
  left: 2rem;
  top: 3rem;
}
.early {
  position: relative;
  right: 3rem;
  top: 3rem;
}
.peoples {
  width: 8rem;
  position: relative;
  left: 15rem;
  bottom: 12rem;
}
.people-num {
  position: relative;
  left: 17.5rem;
  bottom: 13rem;
}
.clients {
  position: relative;
  bottom: 13rem;
  left: 15rem;
}
.earth {
  width: 5rem;
  position: relative;
  bottom: 24rem;
  left: 30rem;
}
.earth-num {
  position: relative;
  bottom: 23rem;
  left: 31.5rem;
}
.foot {
  position: relative;
  bottom: 23rem;
  left: 28rem;
}
.payhippo-btn {
  height: 10rem;
  width: 13rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.payhippo-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.business-btn {
  height: 10rem;
  width: 13rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.business-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.enterprise2-btn {
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.enterprise2-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.gayo-btn {
  height: 10rem;
  width: 13rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.gayo-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}
.isc-btn {
  height: 10rem;
  width: 13rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.isc-btn:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.some{
  position: relative;
  top: 0.3rem;
}
.letter{
  position: relative;
  left: 2rem;
  bottom: 1rem;
}

.some2{
  position: relative;
  bottom: 0.9rem;
}
.letter2{
  position: relative;
  left: 2rem;
  bottom: 2.3rem;
}
.some3{
  position: relative;
  bottom: 2rem;
}
.letter3{
  position: relative;
  left: 2rem;
  bottom: 3.3rem;
}
.some4{
  position: relative;
  bottom: 3rem;
}
.letter4{
  position: relative;
  left: 2rem;
  bottom: 4.3rem;
}
.report{
  height: auto;
  width: 25rem;
}
.report1{
  position: relative;
  /* top: 5rem; */
  width: 25rem;
  height: 13rem;
  border: 0;
}
::placeholder{
  padding-left: 1rem;
  font-size: large;
}
input{
  background-color: #272727;
}
.mails{
width: 20rem;
height: 2.5rem;
}